/*=== LAYOUT ===*/

body {
  min-width: 960px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

header,
footer,
#sidebar,
#main_column {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  width: 780px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 12px;
}

#main_column {
  width: 540px;
  padding-left: 80px;
}

#sidebar {
  width: 220px;
  padding-right: 80px;
}

footer {
  width: 780px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 12px;
  height: 60px;
}

/*=== Header ===*/

header hr {
  border: 2px solid #1b1b1b;
}

header a:link,
header a:visited {
  color: #1b1b1b;
  text-decoration: none;
}

header a:hover,
header a:active {
  color: #bf3211; background: transparent;
  text-decoration: none;
}

header h1 {
  font: bold 410% "Droid Serif", serif;
  margin: 0;
}

/*=== Footer ===*/

footer {
  font-size: 90%;
}

footer hr {
  border: 2px solid #1b1b1b;
}

/*=== Article ===*/
article h2 {
  font: bold 30px "Droid Sans", sans-serif;
  margin: 0;
}

article h2 a:link,
article h2 a:visited {
  color: #bf3211;
  text-decoration: none;
}

article h2 a:hover,
article h2 a:active {
  color: #1b1b1b;
  background: transparent;
}

article {
  margin-bottom: 3em;
}

.posted {
  color: #787777;
  margin-left: 2px;
}

/*=== Archives ===*/
#archives {
  font: normal 14px "Droid Sans Mono", "lucida console", "courier new", courier, serif;
}

#archives li {
  list-style-type: none;
}

/*=== Styles ===*/

body {
  font: normal 12px "lucida grande", verdana, arial, helvetica, sans-serif;
  color: #1b1b1b;
  background-color: #f0efd1;
}

a:link, a:visited { color: #1b1b1b; }
a:hover, a:active { color: white; background: #1b1b1b; }

#sidebar {
  font-size: 11px;
}

#sidebar ul {
  list-style-type: none;
  margin: 0 0 2em; padding: 0;
}

#sidebar h2 {
  font: bold 14px "lucidamac bold", "lucida grande", verdana, arial, helvetica, sans-serif;
  margin: 0 0 0.5em;
}

pre {
  color: #cfba58; /* selections: #63ff00, #cfba58, #fff */
  background: #1b1b1b;
  overflow: auto;
  font: normal 12px "bitstream vera sans mono", monaco, "lucida console", "courier new", courier, serif;
  margin: 0.9em 0; padding: 8px;
}

/*=== Generic ===*/

.left  { float: left; }
.right { float: right; }
