<ul>
  <li class="links">
    <h2>Following</h2>
    <ul>
      <li><a href="http://www.igvita.com" target="_blank">igvita</a></li>
    </ul>
  </li>
  <li class="links">
    <h2>Friends</h2>
    <ul>
      <li><a href="http://roytang.net" target="_blank">roy tang</a></li>
      <li><a href="http://krna82.wordpress.com" target="_blank">buried in cliches</a></li>
      <li><a href="http://thirdworldwriter.com" target="_blank">third world writer</a></li>
      <li><a href="http://timmedina.com" target="_blank">code kuno</a></li>
    </ul>
  </li>
</ul>
