<ul>
  <li class="pages">
    <ul>
      <li><a href="/about.html">about</a></li>
      <li><a href="/archives.html">archives</a></li>
      <li><a href="/rss">rss</a></li>
    </ul>
  </li>
  <li class="categories">
    <h2>Categories</h2>
  </li>
  <li class="links">
    <h2>Following</h2>
    <ul>
      <li><a href="http://igvita.com" target="_blank">igvita</a></li>
      <li><a href="http://rubyinside.com" target="_blank">ruby inside</li>
    </ul>
  </li>
  <li class="links">
    <h2>Friends</h2>
    <ul>
      <li><a href="http://filipinofreethinkers.org" target="_blank">filipino freethinkers</a></li>
      <li><a href="http://roytang.net" target="_blank">roy tang</a></li>
      <li><a href="http://krna82.wordpress.com" target="_blank">buried in cliches</a></li>
      <li><a href="http://thirdworldwriter.com" target="_blank">third world writer</a></li>
      <li><a href="http://timmedina.com" target="_blank">code kuno</a></li>
      <li><a href="http://gogameguru.com" target="_blank">go game guru</a></li>
    </ul>
  </li>
</ul>
