<!DOCTYPE html>

<html lang="en">
<head>
  <title>a_web_developer\'s_blog</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css' />
</head>
<body>
  <div id="container">
    <header>
      <h1><a href="http://michaelgalero.com/blog">a_web_developer\'s_blog</a></h1>
      <hr />
    </header>
    <div id="main_column">
      {{ content }}
    </div>
    <div id="sidebar">
      {% include sidebar.html %}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
</body>
</html>
